<footer class="bg-primary">
    <div class="d-flex flex-row justify-content-center align-items-center gap-4">
        <p class="text-white">
            <a class="text-reset fw-bold link-site" href="#">Sobre</a>
        </p>
        <p class="text-white">
            <a class="text-reset fw-bold link-site" href="#">Contato</a>
        </p>
    </div>

    <div class="text-center">
        <p class="text-white">© 2023 Copyright: View Engine</p>
    </div>
</footer>